body {
    
}
.donation {
    border:2px solid #0094ff;
    border-radius: 40px;
    background:#0094ff;
-webkit-border-radius: 40px;
-moz-border-radius: 40px;

}
.Error {
     border:2px solid #0094ff;
font-size:x-large;
color:red;
width:100%;
height:200px;
background:#100000;
}
    .Error table tr td {
    color:red;
    }

/*----------Admin css------------*/

.vsContainer {
width:100%;
background:#E0E0E0;
overflow:auto;
}
    .vsContainer .vsheader {
    width:100%;
    height:200px;
    }
    .vsContainer .vsSideNav {
        height:600px;
        width:20%;
   float:left;
   background-color:#8A8A8A;
         }

    .vsContainer .vsContent {
   width:75%;
   float:left;
   background-color:#ffffff;
    }
/*----------------------*/