<?xml version="1.0"?>
<configuration>
    <system.web>
      <globalization uiCulture="en" culture="en-CA" />
      <authorization>
        <!-- Allows only users with the role of Admin to access the administrative folder -->
        <allow roles="patient" />
        <deny users="*"/>
      </authorization>
    </system.web>
</configuration>
