<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DB_66299_aspprojectConnectionString" connectionString="Data Source=s05.winhost.com;Initial Catalog=DB_66299_aspproject;User ID=DB_66299_aspproject_user;Password=hello123"
      providerName="System.Data.SqlClient" />
    <add name="DataSourceConnectionString" connectionString="Data Source=DeetaBase.db.12042275.hostedresource.com;User ID=DeetaBase;Password=Dino1620!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages theme="MenuStyle"/>
  </system.web>
</configuration>