/*Main desktop view*/

    .container {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        /*border: 1px solid;  Keep this here to check if container is cooperating*/
        min-height: 1000px;
    }
    .login {
    float:right;
}
     .footer {
        background-color: #a0bfed;
        width: 960px;
        float: left;
        margin-top: 20px;
        min-height: 100px;
    }

    /*home page*/
    .banner {
        width: 960px;
        height: 210px;
        border: 1px solid;
    }

    #textDesc {
        float: left;
        width: 480px;
        height: 210px;
        background-color: #f7bd41;
    }

    #IMGslide {
        float: left;
        width: 480px;
        height: 210px;
        background-color: ButtonFace;
    }

    .contentBody {
        width: 620px;
        color: blue;
        float: left;
        margin-top: 20px;
        border: 1px solid;
    }

    .sidebar {
        width: 300px;
        float: right;
        margin-top: 30px;
        
    }

    .infectBox {
        width: 300px;
        height: 200px;
        background-color: none;
        margin-bottom: 20px;
        float: left;

    }

    #heading h3{
        height: 30px;
        width:300px;
        background-color:  #00b0a2;
        text-align:center;
        }
        #heading h3 a {
            text-decoration:none;
            color: white;
        }
.donate H3 {
    background-color: #00b0a2;
    height:30px;
    text-align:center;
}
    .donate H3 a {
                text-decoration:none;
                text-align:center;
                color: white;
    }
    .donate {
        width: 300px;
        height: 150px;
        background-color: none;
        float: left;
    }

    /*end of sidebar HOME*/

    /*Bottom Bar HOME*/

      .bottomBar {
        height: 200px;
        width: 960px;
        float: left;
        margin-top: 40px;
       
    }

      .calendar H3 {
     text-align:center;
     background-color: #00b0a2;
     height:30px;

    }
       .calendar H3 a {
      text-decoration:none;
      color: white;

    }
    .calendar {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        float: left;
        margin-left: 5px;
    }
.Maps H3 {
     text-align:center;
     background-color: #ffbb2a;
     height:30px;
}
    .Maps H3 a {
text-decoration:none;
   color: white;
    }

      .Maps {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        float: left;
        margin-left: 25px;
    }
.paybills H3 {
    background-color: #ffbb2a;
    height:30px;
    text-align:center;
}
    .paybills H3 a {
        text-decoration:none;
        color: white;
    }

    .paybills {
        width: 300px;
        height: 200px;
        
        margin-bottom: 20px;
        float: left;
        margin-left: 25px;
    }

    /*End of Home Page*/
    /*About Page*/

#about_text {
    height: 300px;
    width: 450px;
    float:left;
    margin-right: 60px;
    margin-left: 50px;
    border:dashed 2px;
}

#about_img {
  
    height:300px;
    width: 350px;
    float: left;
    border:dashed 2px;
}
/*End of About Page*/
/*Health Concerns Page*/

#listed_concern {

    min-height:500px;
    width:500px;
    float:left;
    border: dashed 2px;
    margin-right: 60px;

}

#recommend {

    float:left;
    width:300px;

}

/* iPads (portrait and landscape) ----------- */
@media screen and (min-width : 481px) and (max-width : 1024px) {
 .container {  width: 768px; margin-left: auto; margin-right: auto; min-height:768px; }

 .banner { width: 768px; height: 110px; border: 1px solid; }

#textDesc {float:left; width: 382px; height:110px; background-color: aqua; }

#IMGslide { width: 382px; height:110px; background-color: aqua; }

.contentBody { width: 420px; color: aqua; float: left; margin-top: 20px; border: 1px solid; }

.sidebar { width:200px; float:right; margin-top: 30px; border: 1px solid; }

.infectBox { width: 200px; height: 200px; background-color: aqua; margin-bottom: 20px; float: left; }

.donate { width: 150px; height: 150px; background-color: aqua; float: left; }
.calendar { width: 245px; height: 100px; background-color: aqua; margin-bottom: 20px; float: left; margin-left: 5px; }

.bottomBar { height: 100px; width: 768px; float:left; margin-top: 20px; border: 1px solid; }

.Maps { width: 245px; height: 100px; background-color: aqua; margin-bottom: 20px; float: left; margin-left:10px;}
.Other { width: 245px; height: 100px; background-color: #c0f5bd; margin-bottom: 20px; float: left; margin-left:10px; }

.footer { background-color: aqua;width: 768px; float: left; margin-top: 20px; min-height:100px;}

}

/* iPhone 4 -----------
@media screen and (-webkit-min-device-pixel-ratio : 1.5) and (min-device-pixel-ratio : 1.5) {
/* Styles 
}*/

/*SmartPhones*/
@media screen and (min-width : 320px) and (max-width : 480px) { 

.container { width: 320px; margin-left: auto; margin-right: auto; /*border: 1px solid;  Keep this here to check if container is cooperating*/  min-height:480px; }

.banner {width: 320px; height: 50px; border: 1px solid red; }

#textDesc { float:left; width: 160px; height:50px; background-color: firebrick;}

#IMGslide { width: 160px; height:50px; background-color:firebrick; }

.contentBody { width: 320px; color: firebrick;float: left; margin-top: 5px; border: 1px solid red; }

.sidebar { width:320px; }
.infectBox { width: 315px; height: 150px; background-color:firebrick; margin-bottom: 10px; float: left; }
.donate { width: 315px; height: 150px; background-color:firebrick; margin-bottom: 10px; float: left; }

.calendar {width: 315px; height: 150px; background-color: firebrick; margin-bottom: 10px; float: left;  }

.bottomBar { height: 500px; width: 320px; float:left; margin-top: 10px; border: 1px solid; }

.Maps { width: 315px; height: 150px; background-color: firebrick; margin-bottom: 10px; float: left;}

.Other {width: 315px; height: 150px; background-color: firebrick; margin-bottom: 10px; float: left; }

.footer { background-color:firebrick; width: 320px; float: left; margin-top: 5px; min-height:50px;}

}