/*Global Classes*/

    .container_mast {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        /*border: 1px solid;  Keep this here to check if container is cooperating*/
        min-height: 800px;
         font-family:'Adobe Gurmukhi';
         background-color: #fbecda;
    }

    .login {
    float:right;
}
     .footer {
        background-color: #a7917e;
        width: 960px;
        float: left;
        margin-top: 20px;
        min-height: 100px;
    }


    .page_title h2 {
  padding-left: 50px;
  padding-top:10px;
  padding-bottom: 5px;
  text-align:left;
  background-color: #f8c966;
  height: 40px;
  width: 910px;
  font-family:'Adobe Gurmukhi';
  font-size: 30px;
  color:white;
}

    
    .page_title  {
         font-family:'Adobe Gurmukhi';
         width: 960px;
         padding-bottom: 20px;
         background-color: #fbe0a6;
         

    }
     .page_title p {
         font-family:'Adobe Gurmukhi';
         width: 700px;
         margin-left: 50px;
         

    }

.form_back {
    margin-left:50px;

   background-color: #d5bda8;
   width: 400px;
  font-family:'Adobe Gurmukhi';

}

    .form_back h3 {

        background-color: #a7917e;
        font-family:'Adobe Gurmukhi';

    }

.purple_style {

    background-color:#95779a;
    width: 300px;
    padding-left:50px;
    margin-top: 30px;

}
    /*home page*/
    .banner {
        width: 960px;
       /* height: 210px;*/
       /* border: 1px solid;*/
    }

   
    #IMGslide {
        float: left;
        width: 480px;
        height: 210px;
        background-color: ButtonFace;
    }

    .contentBody {
        width: 620px;
        color: blue;
        float: left;
        margin-top: 20px;
        border: 1px solid;
    }

    .sidebar {
        width: 300px;
        float: right;
        margin-top: 30px;
        
    }

    .infectBox {
        width: 300px;
        height: 200px;
        background-color: none;
        margin-bottom: 20px;
        float: left;

    }

    #heading h3{
        height: 30px;
        width:300px;
        background-color:  #a7917e;
        text-align:center;
        }
        #heading h3 a {
            text-decoration:none;
            color: white;
        }
.donate H3 {
    background-color: #a7917e;
    height:30px;
    text-align:center;
}
    .donate H3 a {
                text-decoration:none;
                text-align:center;
                color: white;
    }
    .donate {
        width: 300px;
        height: 150px;
        background-color: none;
        float: left;
    }

    /*end of sidebar HOME*/

    /*Bottom Bar HOME*/

      .bottomBar {
        height: 200px;
        width: 960px;
        float: left;
        margin-top: 40px;
       
    }

      .calendar H3 {
     text-align:center;
     background-color: #a7917e;
     height:30px;

    }
       .calendar H3 a {
      text-decoration:none;
      color: white;

    }
    .calendar {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        float: left;
        margin-left: 5px;
    }
.Maps H3 {
     text-align:center;
     background-color: #95779a;
     height:30px;
}
    .Maps H3 a {
text-decoration:none;
   color: white;
    }

      .Maps {
        width: 300px;
        height: 200px;
        margin-bottom: 20px;
        float: left;
        margin-left: 25px;
    }
.paybills H3 {
    background-color: #95779a;
    height:30px;
    text-align:center;
}
    .paybills H3 a {
        text-decoration:none;
        color: white;
    }

    .paybills {
        width: 300px;
        height: 200px;
        
        margin-bottom: 20px;
        float: left;
        margin-left: 25px;
    }

    /*End of Home Page*/
    /* Admin Home Page */
    #adminhome_title h2 {
  padding-top:10px;
  text-align:left;
  background-color: ButtonFace;
  height: 40px;
  width: 960px;
  font-family:'Adobe Gurmukhi';
}
    .links H3 {
     background-color: #95779a;
     width: 250px;
     height: 20%;
    font-family:'Adobe Gurmukhi';
    font-size: 20px;
    color:white;
    text-decoration:none;
}

#contentbody_6 {
    margin-top:20px;
    margin-left: 80px;
   
    width: 250px;
    float:left;
    margin-right:20px;

}
#contentbody_12 {
    margin-top:20px;
    width: 250px;
    float:left;
    margin-right:20px;

}
#contentbody_18 {
     margin-top:20px;
     width:250px;
    float:left;
   
}
.links {
    text-decoration:none;
   
}

.page_links{
    text-decoration:none;
    color: black;
    margin-left: 30px;
    width:200px;
    padding-bottom:5px;

}
    /*End Home Page Admin*/
    /*About Page*/


#about_text {
    height: 300px;
    width: 450px;
    float:left;
    margin-right: 60px;
    margin-left: 50px;
    border:dashed 2px;
}

#about_img {
  
    height:300px;
    width: 350px;
    float: left;
    border:dashed 2px;
}
/*End of About Page*/

/*Contact Us Public*/


/*End Contact Us Public*/

/*Directions Public*/


/*End Directions Public*/

/*Donations Public*/
/*End Donations Public*/
/*Health Concerns Page (public)*/

#listed_concern {

    min-height:500px;
    width:400px;
    float:left;
    margin-right: 30px;
    margin-left: 100px;

}



#recommend {
    
    float:left;
    width:350px;
    background-color: #d5bda8;
    padding-left: 30px;
    padding-bottom:30px;
    font-family:'Adobe Gurmukhi';
    margin-top: 40px;
}
#recommend p {
    width: 300px;
}

#recommend h3 {
   background-color: #a7917e;
}
.titleText H3 {
     background-color: #95779a;
     width: 40%;
     height: 20%;
     text-decoration:none;
    font-family:'Adobe Gurmukhi';
    font-size: 25px;

}

.titleText {
    text-decoration:none;
    color: white;
    margin-left: 30px;

}

.Kenora {

    font-family:'Adobe Gurmukhi';
}

.Ontario {

    font-family:'Adobe Gurmukhi';
}
.Canada {

    font-family:'Adobe Gurmukhi';
}
/*Health Concerns Update (Admin)*/

.form_backHC {
  margin-left:50px;
  background-color: #d5bda8;
  width: 400px;
  font-family:'Adobe Gurmukhi';
  float:left;

}

    .form_backHC h3 {

    background-color: #a7917e;
    font-family:'Adobe Gurmukhi';


}
#adU_sidebar {
    margin-left: 50px;
    float:left;
}
/*End of HCU admin*/
/*End of Health Concerns*/

/*News Updates Public*/

.form_back_news {
    margin-left:50px;
   background-color: #d5bda8;
   width: 700px;
  font-family:'Adobe Gurmukhi';
  padding-bottom:15px;
}

    .form_back_news h3 {

        background-color: #a7917e;
        font-family:'Adobe Gurmukhi';

    }


/*End of News Updates Public*/
/*Specialists Admin*/
#insert_special {
    float:left;
    width: 300px;
    margin-left:50px;
    margin-right:60px;
}
#update_special {
    float:left;
}
/*End of Specialists Admin*/
/*Beginning of Volunteers (public)*/

#vol_form1 {
    padding-top: 15px;
    padding-left: 40px;
    width: 260px;
    float:left;
     background-color: #dcf4f2;
     height: 450px;
     font-family:'Adobe Gurmukhi';    

}

#vol_form2 {
    padding-top: 15px;
    width: 300px;
    float:left;
     background-color: #dcf4f2;
      height: 450px;
      font-family:'Adobe Gurmukhi';
}


#vol_title p {
         font-family:'Adobe Gurmukhi';
         width: 600px;
         padding-bottom: 15px;
         background-color: #00b0a2;
    }


/*End of Volunteers(public)*/

/*Volunteer Admin Page*/
.page_buttons {


  text-align:center;
}

/*End Volunteer Admin Page*/



/* iPads (portrait and landscape) ----------- */
@media screen and (min-width : 481px) and (max-width : 1024px) {
 .container {  width: 768px; margin-left: auto; margin-right: auto; min-height:768px; }

 .banner { width: 768px; height: 110px; border: 1px solid; }

#textDesc {float:left; width: 382px; height:110px; background-color: aqua; }

#IMGslide { width: 382px; height:110px; background-color: aqua; }

.contentBody { width: 420px; color: aqua; float: left; margin-top: 20px; border: 1px solid; }

.sidebar { width:200px; float:right; margin-top: 30px; border: 1px solid; }

.infectBox { width: 200px; height: 200px; background-color: aqua; margin-bottom: 20px; float: left; }

.donate { width: 150px; height: 150px; background-color: aqua; float: left; }
.calendar { width: 245px; height: 100px; background-color: aqua; margin-bottom: 20px; float: left; margin-left: 5px; }

.bottomBar { height: 100px; width: 768px; float:left; margin-top: 20px; border: 1px solid; }

.Maps { width: 245px; height: 100px; background-color: aqua; margin-bottom: 20px; float: left; margin-left:10px;}
.Other { width: 245px; height: 100px; background-color: #c0f5bd; margin-bottom: 20px; float: left; margin-left:10px; }

.footer { background-color: aqua;width: 768px; float: left; margin-top: 20px; min-height:100px;}

}

/* iPhone 4 -----------
@media screen and (-webkit-min-device-pixel-ratio : 1.5) and (min-device-pixel-ratio : 1.5) {
/* Styles 
}*/

/*SmartPhones*/
@media screen and (min-width : 320px) and (max-width : 480px) { 

.container { width: 320px; margin-left: auto; margin-right: auto; /*border: 1px solid;  Keep this here to check if container is cooperating*/  min-height:480px; }

.banner {width: 320px; height: 50px; border: 1px solid red; }

#textDesc { float:left; width: 160px; height:50px; background-color: firebrick;}

#IMGslide { width: 160px; height:50px; background-color:firebrick; }

.contentBody { width: 320px; color: firebrick;float: left; margin-top: 5px; border: 1px solid red; }

.sidebar { width:320px; }
.infectBox { width: 315px; height: 150px; background-color:firebrick; margin-bottom: 10px; float: left; }
.donate { width: 315px; height: 150px; background-color:firebrick; margin-bottom: 10px; float: left; }

.calendar {width: 315px; height: 150px; background-color: firebrick; margin-bottom: 10px; float: left;  }

.bottomBar { height: 500px; width: 320px; float:left; margin-top: 10px; border: 1px solid; }

.Maps { width: 315px; height: 150px; background-color: firebrick; margin-bottom: 10px; float: left;}

.Other {width: 315px; height: 150px; background-color: firebrick; margin-bottom: 10px; float: left; }

.footer { background-color:firebrick; width: 320px; float: left; margin-top: 5px; min-height:50px;}

}
