UL.menu > LI {
    list-style: none;
    float: left;
    border: 1px solid red;
    position: relative;
    height: 24px; /* height included for IE 7 */
}

UL.menu UL{
    left: -10000px;
    position: absolute;            
}

UL.menu > LI:hover UL{
    left: 0;
    top: 24px; /* IE7 has problems without this */
}

/*
.menu ul ul {
   display:list-item;
}

.menu ul li:hover > li {
    display:block;

}

.menu ul {
    padding: 0 20px;
    border-radius: 10px;
    list-style:none;
    position:relative;
    display:block;

}

    .menu ul li {
        float: left;
    }

    .menu ul li {

        padding: 5px 10px 5px 10px;
        display:block;
        color:black;
    }

.menu ul li:hover a {

    color:orange;

}

        .menu ul li:hover > ul {
            margin: 0px;
            padding: 0px;
        }
        .menu ul li:hover > ul li {
            float: none;
            display: block;
        }
        .menu ul li:hover >  li a {
            color: ButtonFace;
            min-width: 150px;
        }

        .menu ul li:hover > ul li a:hover {
            color: gray;
        }

    .menu ul li {
        position: relative;
    }
        .menu ul li ul {
            position: absolute;
            top: 30px;
            left: 0px;
        }
    */