.level1
{
    color: White;
    background-color: #3d506b;
    font-variant: small-caps;
    font-size: large;
    font-weight: bold;
    padding: 15px;
    width: 145.15px;
    text-align: center;
}

.level2
{
    color: white;
    font-family: Gill Sans MT !important;
    font-size: medium;
    background-color: #336ec2;
    padding: 10px;
}


.hover
{
    font-weight: bold;
    font-style: italic;
    background-color: pink;
}

@media screen and (min-width : 320px) and (max-width : 480px) {

    .menu {
width: 320px;
    }

    .level1
{
    color: White;
    background-color: khaki;
    font-variant: small-caps;
    font-size: large;
    font-weight: bold;
    padding: 5px;
    width: 320px;
    text-align: center;
}

    .level2 {
     background-color: pink;
    }

.hover
{
    font-weight: bold;
    font-style: italic;
    background-color: pink;
}

}