.level1
{
    color: White;
    background-color: #3d506b;
    font-variant: small-caps;
    font-size: large;
    font-weight: bold;
    padding: 15px;
    width: 145.15px;
    text-align: center;
}

.level2
{
     color: White;
    background-color: #3d506b;
    font-variant: small-caps;
    font-size: large;
    font-weight: bold;
    padding: 15px;
    width: 145.15px;
    text-align: center;
}
 


.level3 {
    color: white;
   
    font-size: medium;
    background-color: #336ec2;
    padding: 10px;
      width: 145.15px;
}


@media screen and (min-width : 320px) and (max-width : 480px) {
    /*Menu!*/
    .level1 {
        color: White;
        background-color: #3d506b;
        font-variant: small-caps;
        font-size: large;
        font-weight: bold;
        padding: 15px;
        width: 309px;
        text-align: center;
    }

    .level2 {
        color: White;
        background-color: #3d506b;
        font-variant: small-caps;
        font-size: large;
        font-weight: bold;
        padding: 15px;
        width: 309px;
        text-align: center;
    }
    .level3  {
     
        display:none;

    }
}
