/* iPads (portrait and landscape) ----------- */
@media screen and (min-width : 481px) and (max-width : 1023px) {

    /*Menu!*/
    .level1 {
        color: White;
        background-color: #3d506b;
        font-variant: small-caps;
        font-size: large;
        font-weight: bold;
        padding: 15px;
        width: 110px;
        text-align: center;
    }

    .level2 {
        color: White;
        background-color: #3d506b;
        font-variant: small-caps;
        font-size: large;
        font-weight: bold;
        padding: 15px;
        width: 113px;
        text-align: center;
    }



    .level3 {
        color: white;
        font-family: Gill Sans MT !important;
        font-size: medium;
        background-color: #336ec2;
        padding: 10px;
        width: 113px;
    }


    /*End of Menu!*/

    /*Global styles*/
    .container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
       
        overflow: auto;
        background-color: aqua;
        font-family: 'Adobe Gurmukhi';
        background-color: #fbecda;
    }

    .banner { /* width: 768px; height: 110px; border: 1px solid;*/
    }

    .contentBody {
        width: 420px;
        color: black;
        float: left;
        margin-top: 20px;
        margin-left: 40px;
    }

    .sidebar {
        width: 200px;
        margin-top: 30px;
        float: left;
        margin-left: 100px;
    }


    .footer {
        background-color: #a7917e;
        width: 768px;
        float: left;
        margin-top: 20px;
        min-height: 100px;
    }

    .page_title h2 {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #f8c966;
        height: 40px;
        width: 700px;
        font-family: 'Adobe Gurmukhi';
        font-size: 30px;
        color: white;
    }

    .page_title {
        font-family: 'Adobe Gurmukhi';
        width: 768px;
        padding-bottom: 20px;
        background-color: #fbe0a6;
    }

        .page_title p {
            font-family: 'Adobe Gurmukhi';
            width: 400px;
            margin-left: 50px;
        }

    .form_back {
        margin-left: 50px;
        background-color: #d5bda8;
        width: 400px;
        font-family: 'Adobe Gurmukhi';
    }

        .form_back h3 {
            background-color: #a7917e;
            font-family: 'Adobe Gurmukhi';
        }

    .purple_style {
        background-color: #95779a;
        width: 300px;
        padding-left: 50px;
        margin-top: 30px;
    }
    /*Home Page*/
    #pictures {
        display: none;
    }

    #udp {
        display: none;
    }

    #heading h3 {
        height: 30px;
        width: 200px;
        background-color: #a7917e;
        text-align: center;
    }

        #heading h3 a {
            text-decoration: none;
            color: white;
        }

    .infectBox {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
        float: left;
    }

    .donate {
        width: 200px;
        height: 150px;
    }

        .donate H3 {
            background-color: #a7917e;
            height: 30px;
            width: 200px;
            text-align: center;
        }

            .donate H3 a {
                text-decoration: none;
                text-align: center;
                color: white;
            }

    .bottomBar {
        height: 100px;
        width: 768px;
        float: left;
        margin-top: 20px;
    }

    .calendar H3 {
        text-align: center;
        background-color: #a7917e;
        height: 30px;
        width: 240px;
    }

        .calendar H3 a {
            text-decoration: none;
            color: white;
        }

    .calendar {
        width: 240px;
        height: 100px;
        margin-bottom: 20px;
        float: left;
        margin-left: 5px;
    }
        .calendar H3 {
        text-align: center;
        background-color: #a7917e;
        height: 30px;
        width: 320px;
    }

        .calendar H3 a {
            text-decoration: none;
            color: white;
        }
    .Maps H3 {
        text-align: center;
        background-color: #95779a;
        width: 240px;
        height: 30px;
    }

        .Maps H3 a {
            text-decoration: none;
            color: white;
        }

    .Maps {
        height: 100px;
        width: 240px;
        margin-bottom: 20px;
        float: left;
        margin-left: 10px;
        margin-right: 5px;
    }

    .paybills H3 {
        background-color: #95779a;
        height: 30px;
        text-align: center;
        width: 240px;
    }

        .paybills H3 a {
            text-decoration: none;
            color: white;
        }

    .paybills {
        width: 240px;
        height: 100px;
        margin-bottom: 20px;
        float: left;
        margin-left: 10px;
    }
}


   