/* iPads (portrait and landscape) ----------- */
@media screen and (min-width : 481px) and (max-width : 1023px) {

    /*Menu!*/
    .level1 {
        color: White;
        background-color: #3d506b;
        font-variant: small-caps;
        font-size: large;
        font-weight: bold;
        padding: 15px;
        width: 110px;
        text-align: center;
    }

    .level2 {
        color: White;
        background-color: #3d506b;
        font-variant: small-caps;
        font-size: large;
        font-weight: bold;
        padding: 15px;
        width: 113px;
        text-align: center;
    }



    .level3 {
        color: white;
        font-family: Gill Sans MT !important;
        font-size: medium;
        background-color: #336ec2;
        padding: 10px;
        width: 113px;
    }


    /*End of Menu!*/

    /*Global styles*/
    .container {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;
         font-family: 'Adobe Gurmukhi';
        background-color: #fbecda;
    }

    .banner { display:none;
    }

    .form_back {
    margin-left:40px;
    margin-top:20px;
   background-color: #d5bda8;
   width: 400px;
  font-family:'Adobe Gurmukhi';

}

    .form_back h3 {

        background-color: #a7917e;
        font-family:'Adobe Gurmukhi';

    }


    .contentBody {
        width: 420px;
        color: black;
        float: left;
        margin-top: 20px;
        margin-left: 40px;
    }

    .sidebar {
        width: 200px;
        margin-top: 30px;
        float: left;
        margin-left: 100px;
    }


    .footer {
        background-color: #a7917e;
        width: 768px;
        float: left;
        margin-top: 20px;
        min-height: 100px;
    }

    .page_title h2 {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #f8c966;
        height: 40px;
        width: 768px;
        font-family: 'Adobe Gurmukhi';
        font-size: 30px;
        color: white;
    }

    .page_title {
        font-family: 'Adobe Gurmukhi';
        width: 768px;
        padding-bottom: 20px;
        background-color: #fbe0a6;
    }

        .page_title p {
            font-family: 'Adobe Gurmukhi';
            width: 400px;
            margin-left: 50px;
        }

    .form_back {
        margin-left: 50px;
        background-color: #d5bda8;
        width: 400px;
        font-family: 'Adobe Gurmukhi';
    }

        .form_back h3 {
            background-color: #a7917e;
            font-family: 'Adobe Gurmukhi';
        }

    .purple_style {
        background-color: #95779a;
        width: 300px;
        padding-left: 50px;
        margin-top: 30px;
    }
    /*Home Page*/
    #pictures {
        display: none;
    }

    #udp {
        display: none;
    }

    #heading h3 {
        height: 30px;
        width: 200px;
        background-color: #a7917e;
        text-align: center;
    }

        #heading h3 a {
            text-decoration: none;
            color: white;
        }

    .infectBox {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
        float: left;
    }

    .donate {
        width: 200px;
        height: 150px;
    }

        .donate H3 {
            background-color: #a7917e;
            height: 30px;
            width: 200px;
            text-align: center;
        }

            .donate H3 a {
                text-decoration: none;
                text-align: center;
                color: white;
            }

    .bottomBar {
        height: 100px;
        width: 768px;
        float: left;
        margin-top: 20px;
    }

    .calendar H3 {
        text-align: center;
        background-color: #a7917e;
        height: 30px;
        width: 240px;
    }

        .calendar H3 a {
            text-decoration: none;
            color: white;
        }

    .calendar {
        width: 240px;
        height: 100px;
        margin-bottom: 20px;
        float: left;
        margin-left: 5px;
    }
        .calendar H3 {
        text-align: center;
        background-color: #a7917e;
        height: 30px;
        width: 320px;
    }

        .calendar H3 a {
            text-decoration: none;
            color: white;
        }
    .Maps H3 {
        text-align: center;
        background-color: #95779a;
        width: 240px;
        height: 30px;
    }

        .Maps H3 a {
            text-decoration: none;
            color: white;
        }

    .Maps {
        height: 100px;
        width: 240px;
        margin-bottom: 20px;
        float: left;
        margin-left: 10px;
        margin-right: 5px;
    }

    .paybills H3 {
        background-color: #95779a;
        height: 30px;
        text-align: center;
        width: 240px;
    }

        .paybills H3 a {
            text-decoration: none;
            color: white;
        }

    .paybills {
        width: 240px;
        height: 100px;
        margin-bottom: 20px;
        float: left;
        margin-left: 10px;
    }
     /*About Page*/


#about_text {
    height: 300px;
    width: 450px;
    float:left;
   margin-top:20px;
    border:dashed 2px;
    margin-left: 30px;
}

#about_img {
  
   display:none;
}

/*health Concerns*/
#listed_concern {

    min-height:500px;
    width:400px;
    float:left;
    margin-right: 30px;
    margin-left: 90px;
    }



#recommend {
    
    float:left;
    width:350px;
    background-color: #d5bda8;
    padding-left: 30px;
    padding-bottom:30px;
    font-family:'Adobe Gurmukhi';
    margin-top: 15px;
    margin-left: 40px;
}
#recommend p {
    width: 300px;
}

#recommend h3 {
   background-color: #a7917e;
  
}
.titleText H3 {
     background-color: #95779a;
     width: 170px;
     height: 20%;
     text-decoration:none;
    font-family:'Adobe Gurmukhi';
    font-size: 40px;
 
}

.titleText {
    text-decoration:none;
    color: white;
    margin-left: 30px;
     width: 300px;
}

.Kenora {

    font-family:'Adobe Gurmukhi';
    font-size: 20px;
}

.Ontario {

    font-family:'Adobe Gurmukhi';
    width: 300px;
}
.Canada {

    font-family:'Adobe Gurmukhi';
     width: 300px;
}

/*News Updates*/
.form_back_news {
    margin-top:20px;
   margin-left:0px;
    margin-bottom:20px;
   background-color: #d5bda8;
   width: 480px;
   min-height:100px;
  font-family:'Adobe Gurmukhi';
  padding-bottom:15px;
}

    .form_back_news h3 {

        background-color: #a7917e;
        font-family:'Adobe Gurmukhi';

    }
    /*End of News Updates*/

    
    /*Specialists Public*/
#cal_position {
    width: 480px;
    float:left;
    margin-top:30px;
   margin-left:20px;
    margin-right:30px;
    margin-bottom:30px;
}
#cal_output {
    margin-top:30px;
    margin-left:10px;
    float:left;
    width: 200px;
}
/*end of specialists public*/
/*Beginning of Volunteers (public)*/

#vol1 {
    padding-top: 15px;
    padding-left: 50px;
    width: 260px;
   
    margin-right:50px;
  margin-left:70px;
    font-family:'Adobe Gurmukhi';    

}

#vol2 {
    padding-top: 15px;
    width: 260px;
    font-family:'Adobe Gurmukhi';
   
    margin-left:70px;
      padding-left: 50px;
}


#vol_title p {
         font-family:'Adobe Gurmukhi';
         width: 480px;
         padding-bottom: 15px;
         background-color: #00b0a2;
    }

.form_backvol {
   
    margin-top:20px;
    margin-left:20px;
    overflow:auto;
    background-color: #d5bda8;
     width: 440px;
    font-family:'Adobe Gurmukhi';


}

    .form_backvol h3 {

        background-color: #a7917e;
        font-family:'Adobe Gurmukhi';

    }
}

@media screen and (min-width:481px) and (max-width:640px){
    /* iPads (portrait and landscape) ----------- */

    /*Menu!*/
    .level1 {
        color: White;
        background-color: #3d506b;
        font-variant: small-caps;
        font-size: medium;
        font-weight: bold;
        padding: 15px;
        width: 65.7px;
        text-align: center;
    }

    .level2 {
        color: White;
        background-color: #3d506b;
        font-variant: small-caps;
        font-size: medium;
        font-weight: bold;
        padding: 15px;
        width: 65.7px;
        text-align: center;
    }

        .level3 {
        color: white;
        font-family: Gill Sans MT !important;
        font-size: small;
        background-color: #336ec2;
        padding: 10px;
        width: 10%;
    }

    /*Global styles*/
    .container {
        width: 481px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Adobe Gurmukhi';
       background-color: #fbecda;
    }

    .banner { display:none;
    }

    .contentBody {
        width: 200px;
        color: black;
        float: left;
        margin-top: 20px;
        
        background-color:aqua;
    }

    .sidebar {
        width: 200px;
        margin-top: 10px;
        float: left;
        margin-left: 20px;
    }


    .footer {
        background-color: #a7917e;
        width: 480px;
        float: left;
        margin-top: 20px;
        min-height: 100px;
    }

    .page_title h2 {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: left;
        background-color: #f8c966;
        height: 40px;
        width: 480px;
        font-family: 'Adobe Gurmukhi';
        font-size: 20px;
        color: white;
    }

    .page_title {
        font-family: 'Adobe Gurmukhi';
        width: 480px;
        padding-bottom: 20px;
        background-color: #fbe0a6;
    }

        .page_title p {
            font-family: 'Adobe Gurmukhi';
            width: 400px;
            margin-left: 50px;
        }

    .form_back {
        margin-left: 50px;
        background-color: #d5bda8;
        width: 400px;
        font-family: 'Adobe Gurmukhi';
    }

        .form_back h3 {
            background-color: #a7917e;
            font-family: 'Adobe Gurmukhi';
        }

    .purple_style {
        background-color: #95779a;
        width: 300px;
        padding-left: 50px;
        margin-top: 30px;
    }
    /*Home Page*/
    #pictures {
        display: none;
    }

    #udp {
        display: none;
    }

    #heading h3 {
        height: 30px;
        width: 200px;
        background-color: #a7917e;
        text-align: center;
    }

        #heading h3 a {
            text-decoration: none;
            color: white;
        }

    .infectBox {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
        float: left;
    }

    .donate {
        width: 200px;
        height: 150px;
    }

        .donate H3 {
            background-color: #a7917e;
            height: 30px;
            width: 200px;
            text-align: center;
        }

            .donate H3 a {
                text-decoration: none;
                text-align: center;
                color: white;
            }

    .bottomBar {
        height: 100px;
        width: 480px;
        float: left;
        margin-top: 20px;
    }


        .calendar H3 a {
            display:none;
        }

    .calendar {
       display:none;
    }
        .calendar H3 {
        display:none;
    }

     
    .Maps H3 {
        text-align: center;
        background-color: #95779a;
        width: 220px;
        height: 30px;
    }

        .Maps H3 a {
            text-decoration: none;
            color: white;
        }

    .Maps {
        height: 100px;
        width: 220px;
        margin-bottom: 20px;
        float: left;
        
        margin-right: 5px;
    }

    .paybills H3 {
        background-color: #95779a;
        height: 30px;
        text-align: center;
        width: 220px;
    }

        .paybills H3 a {
            text-decoration: none;
            color: white;
        }

    .paybills {
        width: 220px;
        height: 100px;
        margin-bottom: 20px;
        float: left;
        margin-left: 5px;
    }
         /*About Page*/


#about_text {
    height: 300px;
    width: 420px;
    float:left;
   margin-top:20px;
    border:dashed 2px;
    margin-left: 30px;
}

#about_img {
  
   display:none;
}
/*End of About*/

/*News Updates*/
.form_back_news {
    margin-top:20px;
   margin-left:0px;
    margin-bottom:20px;
   background-color: #d5bda8;
   width: 480px;
   min-height:100px;
  font-family:'Adobe Gurmukhi';
  padding-bottom:15px;
}

    .form_back_news h3 {

        background-color: #a7917e;
        font-family:'Adobe Gurmukhi';

    }
    /*End of News Updates*/

    /*Specialists Public*/
#cal_position {
    width: 480px;
    float:left;
    margin-top:30px;
   margin-left:0px;
    margin-right:30px;
    margin-bottom:30px;
}
#cal_output {
    margin-top:30px;
    margin-left:130px;
    float:left;
    width: 280px;
}
/*end of specialists public*/
}
/*END OF KINDLE /NOOK*/
    /*START SmartPhones*/
@media screen and (min-width : 320px) and (max-width : 480px) {


        .container {
            width: 320px;
            margin-left: auto;
            margin-right: auto;
            
        }

        .banner {
            display:none;
        }

 
        .contentBody { display:none; }

        .sidebar {
            float:left;
            width: 320px;
            min-height:300px;
        }

    .page_title {
         font-family:'Adobe Gurmukhi';
         width:320px;
               
    }
        .page_title h2 {
 
  padding-top:5px;
  padding-bottom: 5px;
  text-align:left;
  background-color: #f8c966;
  height: 20px;
  width: 270px;
  font-family:'Adobe Gurmukhi';
  font-size: 20px;
  color:white;
}
             .page_title p { display:none; }

       .banner { display:none;
    }       
    .form_back {
        
        margin-left: 5px;
        background-color: #d5bda8;
        width: 310px;
        font-family: 'Adobe Gurmukhi';
    }

        .form_back h3 {
            background-color: #a7917e;
            font-family: 'Adobe Gurmukhi';
        }

            #heading h3 {
        height: 30px;
        width: 320px;
        background-color: #a7917e;
        text-align: center;
    }

        #heading h3 a {
            text-decoration: none;
            color: white;
        }
        .infectBox {
            width: 320px;
            min-height: 150px;
            margin-bottom: 10px;
           
        }

        .donate {
            width: 320px;
            height: 150px;
           margin-bottom: 10px;
          
        }
              .donate H3 {
            background-color: #a7917e;
            height: 30px;
            width: 320px;
            text-align: center;
        }

            .donate H3 a {
                text-decoration: none;
                text-align: center;
                color: white;
            }

            .bottomBar {
            min-height: 500px;
            overflow:auto;
            width: 320px;
            float: left;
            margin-top: 10px;
           
        }
        .calendar {
           width: 310px;
            height: 150px;
           }

    
        .Maps { 
            width: 320px;
        height: 150px;
        margin-bottom: 20px;
        float: left;
        margin-left: 0px;
             }

            .Maps H3 {
        text-align: center;
        background-color: #a7917e;
        width: 320px;
        height: 30px;
    }

        .Maps H3 a {
            text-decoration: none;
            color: white;
        }

    .paybills H3 {
        background-color: #a7917e;
        height: 30px;
        text-align: center;
        width:320px;
    }
        
     .paybills H3 a {
            text-decoration: none;
            color: white;
        }

    .paybills {
        width: 320px;
        height: 150px;
        margin-bottom: 20px;
        float: left;
        margin-left: 0px;
    }

 .footer {
           background-color: #a7917e;
            width: 320px;
            float: left;
            margin-top: 5px;
            min-height: 50px;
        }

 /*Health Concerns Page (public)*/

#listed_concern {

    overflow:auto;
    width:320px;
    float:left;
    margin-left: 0px;
}



#recommend {
    
    float:left;
    width:320px;
    background-color: #d5bda8;
    
    padding-bottom:30px;
    font-family:'Adobe Gurmukhi';
    margin-top: 20px;
}
#recommend p {
    width: 325px;
}

#recommend h3 {
   background-color: #a7917e;
}
.titleText H3 {
     background-color: #95779a;
     width: 320px;
     height: 20%;
     text-decoration:none;
    font-family:'Adobe Gurmukhi';
    font-size: 25px;

}

.titleText {
    text-decoration:none;
    color: white;
   margin:0px;

}

.Kenora {

    font-family:'Adobe Gurmukhi';
    width: 319px;
}

.Ontario {

    font-family:'Adobe Gurmukhi';
    width: 319px;
}
.Canada {

    font-family:'Adobe Gurmukhi';
    width: 319px;
}

 /*About Page*/


#about_text {
    height: 300px;
    width: 320px;
    float:left;
   margin-top:20px;
    border:dashed 2px;
    margin-left: 0px;
}

#about_img {
  
   display:none;
}
/*End of About*/

/*News Updates*/
.form_back_news {
    margin-top:20px;
   margin-left:0px;
    margin-bottom:20px;
   background-color: #d5bda8;
   width: 320px;
   min-height:100px;
  font-family:'Adobe Gurmukhi';
  padding-bottom:15px;
}

    .form_back_news h3 {

        background-color: #a7917e;
        font-family:'Adobe Gurmukhi';

    }
    /*End of News Updates*/

    /*Specialists Public*/
#cal_position {
    width: 480px;
    float:left;
    margin-top:30px;
   margin-left:0px;
    margin-right:30px;
    margin-bottom:30px;
}
#cal_output {
    margin-top:30px;
    margin-left:130px;
    float:left;
    width: 280px;
}
/*end of specialists public*/
/*Beginning of Volunteers (public)*/

#vol1 {
    padding-top: 5px;
    padding-left: 5px;
    width: 320px;
   margin-left: 5px;
    font-family:'Adobe Gurmukhi';    

}

#vol2 {
    padding-top: 15px;
    width: 320px;
    font-family:'Adobe Gurmukhi';
   
    margin-left:5px;
      
}


#vol_title p {
         font-family:'Adobe Gurmukhi';
         width: 300px;
         padding-bottom: 15px;
         background-color: #00b0a2;
    }

.form_backvol {
   
    margin-top:20px;
    margin-left:5px;
    overflow:auto;
    background-color: #d5bda8;
     width: 320px;
    font-family:'Adobe Gurmukhi';


}

    .form_backvol h3 {

        background-color: #a7917e;
        font-family:'Adobe Gurmukhi';

    }
}
   


   