<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="lal" connectionString="Data Source=lynaddis.db.12079962.hostedresource.com; Initial Catalog=lynaddis;User ID=lynaddis;Password=Tootsies21@" providerName="System.Data.SqlClient"/>
    <add name="lynaddisConnectionString" connectionString="Data Source=lynaddis.db.12079962.hostedresource.com;Initial Catalog=lynaddis;User ID=lynaddis;Password=Tootsies21@" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <membership defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="lal"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="lal"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>