<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DeetaBaseConnectionString" connectionString="Data Source=DeetaBase.db.12042275.hostedresource.com;Initial Catalog=DeetaBase;Persist Security Info=True;User ID=DeetaBase;Password=Dino1620!"
      providerName="System.Data.SqlClient" />
    <add name="lynaddisConnectionString" connectionString="Data Source=lynaddis.db.12079962.hostedresource.com;Initial Catalog=lynaddis;User ID=lynaddis"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <globalization uiCulture="en" culture="en-CA"/>
    <pages theme="styles">
      <!--theme="MenuStyle"-->
      <controls>
        <add tagPrefix="AJAX" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
  <authentication mode="Forms"/>
    <membership defaultProvider="OnlineProvider">

      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="DeetaBaseConnectionString" applicationName="/lfw"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="OnlineProvider">
      <providers>
        <add name="OnlineProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DeetaBaseConnectionString" applicationName="/lfw"/>
      </providers>


    </roleManager>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>